.project-info {
  width: 100%;
  display: flex;
  // background: #fafafa;

  .align {
    padding: 100px;
    width: 100%;
    background: #fafafa;
    // transform: rotate(-4deg);
    position: relative;
    z-index: 2;
  }
  // .align::before {
  //   content: ' ';
  //   background: green;
  //   top: 0;
  //   right: 0;
  //   margin-right: -200px;
  //   position: absolute;
  // }
  .build {
    display: grid;
    grid-template-columns: repeat(2, 280px);
    grid-template-rows: repeat(3, 150px);
    // transform: rotate(4deg);
    align-items: center;
    .build-img {
      position: absolute;
      right: 100px;
      height: 600px;
      bottom: 0;
    }

    .description {
      grid-column: 1/3;
    }
    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      span {
        font-size: 44px;
        font-weight: 250;
      }
      p {
        text-transform: uppercase;
      }
    }
  }
}
.pc {
  color: #32d5ba;
}
.cc {
  color: #6dc4f2;
}
.lc {
  color: #ffd13c;
}
.hc {
  color: #f44336;
}
